<h1>Users#show</h1>
<div class = "show">
<ul>
<%= render = @user %>
</ul>

 <div class = "bio">
 <h3>Bio</h3>
 <p><%= @user.bio%></p>
  </div>
  <div class = "posts">
    <ul>
    <% @user.return_recent_posts.each_with_index do |post, i| %>
      <%= link_to user_post_path(@user.id, post.id) do %>
        <div class="user-recent-post">
          <p class="post-title"><strong>Post</strong> : <%= post.title %> <%= i + 1 %></p>
          <p class="post-text"><%= post.text %></p>
          <h3 class="counters">Comments: <%= post.comments_counter %> <h3>
           <h3> Likes: <%= post.likes_counter %> <h3 >
            
            </div>
            <% end %>
            <% end %>
    </ul>
    <div class="btn">
    <button class="see-all-posts">
    <%=link_to "#{@user.id}/posts/" do %>
      See All Posts
    <% end %>
    </button>
  </div>
  </div>
</div>