<h1>Post#index</h1>
<section>
  <ul>
    <%= render @user %>
  </ul>
</section>
<section class="">
  <ul class="posts_list">
    <% @user.posts.each_with_index do |posts, i| %>
      <li class="single_post">
        <div class="post-header">
          <h3>Post
            <%= link_to "/users/#{@user.id}/posts/#{posts.id}" do %>
              <%= posts.title %>
            <% end %> 
          </h3>
          <p><%= posts.text %>...</p>
          <div>
            <span><small>Comments: <%= posts.comments_counter %></small></span>
            <span><small>Likes: <%= posts.likes_counter %></small></span>
          </div>
        </div>
        <ul class="comments-container">
          <% posts.return_recent_comments.each do |comment| %>
            <li>
              <p><%= comment.author.name %>:
                <span>
                  <%= comment.text %>
                </span>
              </p>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</section>
